<h1>
    Bienvenido a {{ title }}
  </h1>
  <hr />
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
  </agm-map>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Lugares Cercanos</h2>
        <a class="btn btn-primary" routerLink="/crear/new">Crear Nuevo Negocio</a>
        <ul class="list-group">
          <ng-container *ngFor="let lugar of lugares">  
            <li class="list-group-item">
              <a routerLink="/crear/{{lugar.id}}" ><h4>{{lugar.nombre | lowercase}}</h4></a>
              <small>Creado: {{lugar.id | date:'short' | uppercase}}</small>
              <p [innerHtml]="lugar.descripcion | linkifystr"></p>
            </li>
            <!-- |date:'medium' <- muestra la hora | date:'short' <-muestra fecha compacta | date:'fullDate' <-muestra fecha completa
            | date:'shortTime' |date:'mediumTime' -->
          </ng-container>

          <div *ngIf="error"class="alert alert-danger" role="alert">
            {{error}}
          </div>

        </ul>
      </div>
       <div class="col-md-4">
        <h2>Lugares Destacados</h2>
      </div>
     </div>
  </div>